.nothing{
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
    color: grey;
}
.input-error{
    color: #e52b2b;
    border-color: #e52b2b;
}
.cards{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 18rem;
    margin: 6px;
}
.card-title{
    width: 25%;
    display: flex;
}
.icons{
    justify-self: flex-end;
    margin-right: 8px;
    width: 23px;
    height: 23px;
}

.log-error {
    background-color: #cc0000;
    color: #fff;
    margin: 0;
    padding: 19px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    animation-name: error;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.cmodal {
    padding: 5px 50px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, .3);
}

.modal-header {
    padding: 1rem .4rem;
}

.modal-header .btn-close {
    transform: translateY(1.5px);
}

.modal-content-wrapper {
    margin-bottom: 5px;
}

.form-input:not(:last-child) {
    margin-bottom: 10px;
}

.modal-item-desc {
    font-size: 15px;
    margin-left: 10px;
}

.modal-textarea {
    max-height: 200px;
}

@keyframes error {
    from {
        transform: translateY(-70px);
    }

    50% {
        transform: translateY(0);
    }

    to {
        transform: translateY(-70px);
    }
}